.App {
  font-family: Lato;
}

.f14 {
  font-size: 14px;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.opp-card {
  position: relative;
}
.opp-card__save-btn:focus {
  box-shadow: none !important;
}

.opp-card__save-btn {
  box-shadow: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 400px !important;
  -moz-border-radius: 400px !important;
  -ms-border-radius: 400px !important;
  -o-border-radius: 400px !important;
  -webkit-border-radius: 400px !important;
}
