/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
  "light": white,
  "danger": teal,
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
